<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>getCar</title>
</head>
<style>
    table, th, td {
        border: 3px solid black;
        color: darkblue;
        border-block-color: darkgoldenrod;
    }
</style>
<body>
<table>
    <tr>
        <th> Id </th>
        <th> Name </th>
        <th> model </th>
    </tr>
    <div th:each="car : ${count}">
        <tr>
            <td>
                <p th:text="${car.id}"></p>
            </td>
            <td>
                <p th:text="${car.name}"></p>
            </td>
            <td>
                <p th:text="${car.model}"></p>
            </td>
        </tr>
    </div>
</table>

</body>
</html>
